# Backend
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.pytest_cache/
backend/venv/
backend/assets/avatars/
!backend/requirements.txt


# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Certbot
certbot/conf/
certbot/www/

*.md
!README.md